@import '~mdb-ui-kit/css/mdb.min.css';
@import './modules/_form.scss';
@import './modules/_table.scss';

.list-group {
    max-width: 250px;
}

.hidden { 
    display:none;
    }

button {
    background: none;
    padding: 8px;
    border: 1px solid gray;
}